html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(180deg);
    transition: 0.5s;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    pointer-events: none;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    pointer-events: none;
    animation: zoomInOut 0.7s;
}

@keyframes zoomInOut {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.2,1.2);}
    100% {transform: scale(1,1);}
}

.shake {
  animation: shake 1s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: #efcc12;
}

.finalStars li {
    list-style: none;
    display: inline-block;
    color: #efcc12;
}

.finalStars {
  display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
    float: right;
}

.score-panel .timer {
display: inline-block;
margin: 0 80px;
}


.show_msg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	opacity: 10;
}

.message {
	margin: 90px auto;
	padding: 100px;
	background: #e6e6de;
  font-family: "Georgia", serif;
	border-radius: 5px;
	width: 60%;
  height: 70%;
  text-align: center;
	position: relative;
}

#check {
  width: 15%;
  border-radius: 800px;
}

.message .play-again {
  cursor: pointer;
  background: #02ccba;
  color: white;
  font-size: 18px;
  padding: 5px;
  margin: 20px auto;
  width: 20%;
  height: 15%;
  border-radius: 5px;
}

/*media screen for mobile devices */
@media screen and (max-width: 360px) {
  .deck {
      width: 95%;
      min-height: inherit;
      padding: 11px;
  }
  .deck .card {
      height: 74px;
      width: 74px;
      margin-bottom: 8px;
  }
  .score-panel {
      width: 300px;
  }
  .score-panel .timer {
  margin: 0 50px;
  }
}

/*media screen for tab devices */
@media screen and (min-width: 361px) and (max-width: 768px) {
  .deck {
      width: 80%;
      min-height: inherit;
      padding: 25px;
  }
  .deck .card {
      height: 125px;
      width: 125px;
      margin-bottom: 15px;
  }
}
